.UserIcon {
  display: grid;
  min-width: 20%;
  grid-template-areas: "userImage userData userNotifications";
  justify-content: center;
}
.userNotifications{
  grid-area: userNotifications;
}
.userData{
  grid-area: userData;
}
.userImage{
  grid-area: userImage;
}

.number-notification {
  /* grid-area: userNotifications; */
  background: rgb(161, 6, 6);
  border-radius: 50%;
  font-size: 0.3rem;
  font-weight: 900;
  width: 0.5rem;
  height: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -.3rem;
  right: -.3rem;
}
