<section class="bg-dark-color p-5 Metric">
    <h2 class="Metric__title text-text-color">
        Mercado
    </h2>
    <div class="Metric__graphic">
        <app-metric-linear-component 
        [arrayData]="[
        { amount: 1500, date: '2023-01-01' },
        { amount: 2100, date: '2023-01-02' },
        { amount: 1800, date: '2023-01-03' },
        { amount: 2200, date: '2023-01-04' },
        { amount: 2500, date: '2023-01-05' }
        ]">
    </app-metric-linear-component>
    </div>
</section>